This variation is back in stock again! {{ [variation.product.name, variation.name]|join(' - ') }}.
<br>
<a href="https://myprotein-price-checker.herokuapp.com/variations/{{ variation.product.slug }}/{{ variation.slug }}">Check it out!</a>