{% extends 'base.html.twig' %}

{% block title %}Add scrapable product{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-between">
        <div class="p-2">
            <h2>Add scrapable product</h2>
        </div>
        <div class="p-2">
            <a class="btn btn-primary" href="/dashboard" role="button">Back</a>
        </div>
    </div>
    {{ form(form) }}
{% endblock %}