{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ product.url }}" target="_blank">{{ product.name }}</a></td>
                <td>€{{ product.price * 0.65 / 100|round(2) }}</td>
                <td>{{ product.date|date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
